.header {
    width: 100%;
    font-weight: 700;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    transition: .2s;
    font-size: 20px;
}

[scrolled=true] .header {
    border-bottom-color: #ddd;
    box-shadow: 0 4px 8px -4px #0004;
}

.navigate {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: inherit;
    flex-wrap: nowrap;
    margin-right: 40px;
}