.header {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: transparent;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    transition: .2s;
}
.headerAuto {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

[scrolled=true] .header,
[scrolled=true] .headerAuto {
    background-color: #fff;
    border-bottom-color: #ddd;
    box-shadow: 0 4px 8px -4px #0004;
}

.navigate {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: inherit;
    flex-wrap: nowrap;
    margin-right: 40px;
    font-size: 20px;
}
.text {
    margin-right: auto;
    font-weight: 700;
    font-size: 20px;
}
.button {
    color: dodgerblue;
    background: none;
    border: none;
    font-weight: 500;
    font-size: 17px;
    padding: 5px 10px;
}