.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.headerTitle {
    width: 44px;
    height: 44px;
}

.headerSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;
    gap: 2px;
    padding: 2px;
    flex-wrap: nowrap;
    border-radius: 24px;
    border: 1px solid #ddd;
    background-color: #eee;
    overflow: hidden;
}

.headerSearch input {
    flex: 1;
    height: 100%;
    border-radius: 18px 0 0 18px;
    border: none;
    padding: 0 10px 0 20px;
    outline: none;
    background: transparent;
}

.headerSearch input::-webkit-search-decoration,
.headerSearch input::-webkit-search-cancel-button,
.headerSearch input::-webkit-search-results-button,
.headerSearch input::-webkit-search-results-decoration {
    display: none;
}

.headerUser {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
}

.categories {
    min-height: calc(1em + 21px);
    white-space: nowrap;
    overflow: auto hidden;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-bottom: 1px solid #ccc;
}

.categories::-webkit-scrollbar {
    display: none;
}

.category {
    display: inline-block;
    min-width: 80px;
    max-width: 200px;
    margin-bottom: -0.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    padding: 5px 15px 10px;
    color: #232323;
    font-weight: 600;
    text-decoration: none;
    position: relative;
}

.activeCategory {
    color: #ab54aa;
}

.activeCategory::after {
    content: " ";
    position: absolute;
    inset: auto 20px -1px 20px;
    height: 5px;
    background-color: #ab54aa;
    border-radius: 4px 4px 0 0;
}






.inputarea {
    display: block;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    border: none;
    background-color: #fff;
    border-block: 1px solid #ddd;
}

.inputbox {
    display: block;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    border: none;
    background-color: #fff;
    resize: none;
}



.listbody {
    display: flex;
    flex-direction: column;
}

.newlist {
    background-color: #fff;
}

.newError {
    display: block;
    width: 100%;
    padding-top: 5px;
}

.tasksBody {
    display: block;
    flex: 1;
    width: 100%;
}
.tasksBody > div,
.tasksBody>div > div,
.tasksBody>div>div>div,
.tasksBody>div>div>div>ul {
    height: 100%;
}
.tasksBlock {
    display: block;
    height: 100%;
    padding-bottom: 40px;
    overflow: auto;
}



.appFooter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 10px;
    border-top: 1px solid #71b6ff;
    background-color: #eef;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    position: relative;
}

.footerIcon {
    font-size: 18px;
    color: #1e90ff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.footerAddIcon {
    font-size: 22px;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    inset: auto 20px 20px auto;
    border: 4px solid #fff;
    background-color: #ab54aa;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}