.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.headerTitle {
    width: 44px;
    height: 44px;
}

.headerLabel {
    background: -webkit-linear-gradient(to bottom, #e45973, #ab54aa, #624ef0);
    background: linear-gradient(to bottom, #e45973, #ab54aa, #624ef0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 700;
}

.headerRight {
    display: inline-flex;
    gap: 20px;
    flex-wrap: nowrap;
    align-items: center;
}

.headerAdmin {
    font-size: 20px;
}

.headerUser {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
}
.headerUser>img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.categories {
    min-height: calc(1em + 21px);
    white-space: nowrap;
    overflow: auto hidden;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.categories::-webkit-scrollbar {
    display: none;
}

.category {
    display: inline-block;
    min-width: 80px;
    max-width: 200px;
    margin-bottom: -0.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    padding: 5px 15px 10px;
    color: #232323;
    font-weight: 600;
    text-decoration: none;

}

.activeCategory {
    color: #ab54aa;
}

.activeTab {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 0px;
    height: 5px;
    background-color: #ab54aa;
    border-radius: 4px 4px 0 0;
}






.inputarea {
    display: block;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    border: none;
    background-color: #fff;
    border-block: 1px solid #ddd;
}

.inputbox {
    display: block;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    border: none;
    background-color: #fff;
    resize: none;
}



.listbody {
    display: flex;
    flex-direction: column;
}

.newlist {
    background-color: #fff;
}

.newError {
    display: block;
    width: 100%;
    padding: 5px 10px 0;
    font-size: 14px;
    font-weight: 500;
    color: red;
}

.tasksBody {
    display: block;
    flex: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.tasksBody>div,
.tasksBody>div>div,
.tasksBody>div>div>div,
.tasksBody>div>div>div>ul {
    height: 100%;
    width: 100%;
}

.tasksBlock {
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-bottom: 60px;
}



.appFooter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 0;
    border-top: 1px solid #71b6ff;
    background-color: #eef;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.footerIcon {
    font-size: 20px;
    color: #1e90ff;
    padding: 10px;
    width: 60px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.footerIcon:last-child {
    margin-left: auto;
}

.footerAddIcon {
    font-size: 22px;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    inset: auto auto 20px 50%;
    translate: -50% 0;
    border: 4px solid #fff;
    background-color: #ab54aa;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.taskBar {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 10px;
    gap: 10px;
    width: 100%;
    transition: .2s;
    border-bottom: 1px solid #ddf;
}

.taskBar>.taskBarButton {
    display: inline-flex;
    border: none;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    background-color: transparent;
    width: 30px;
    font-size: 18px;
    transition: .2s;
    color: #545454;
    transition: .2s;
}
.taskBar>.taskBarButton:hover{
    cursor: pointer;
    color: #008cff;
}

.taskBarContent {
    flex: 1;
    display: block;
    text-align: left;
    font-weight: 500;
    padding-block: 5px;
    width: calc(100% - 80px);
    font-size: 17px;
    cursor: pointer;
    user-select: none;
}
.taskBar:has(>.taskBarContent:hover) {
    background-color: #d5ecff47;
}

.taskBarContentDone {
    text-decoration: line-through;
}

.taskBarLabel {
    white-space: pre-wrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.taskBarDetail {
    padding-top: 5px;
    color: #212333;
    font-size: .8em;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.taskCompletedHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #eef;
    border-block: 1px solid #ddf;
    color: black;
    font-weight: 600;
    position: sticky;
    top: 0;
    bottom: -60px;
    transition: .2s;
}
.taskCompletedHeader:hover {
    user-select: none;
    cursor: pointer;
    background-color: rgb(206, 206, 255);
}
.taskCompletedArrow {
    color: #727888;
}

.taskBar:has(+ .taskCompletedHeader) {
    border-bottom: none;
}


.taskEmpty {
    display: flex;
    flex: 1;
    min-height: calc(100% - 45px);
    align-items: center;
    flex-direction: column;
    padding: 75px 50px 0;
    justify-content: center;
    gap: 10px;
}

.taskEmpty>img {
    max-width: 300px;
}

.taskEmptyText {
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    color: #1e90ff;
}

.taskEmptyNote {
    font-weight: 500;
    font-size: 14px;
    color: #ab54aa;
}


.categoryViewer {
    padding-right: 15px;
}

.categoryView {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 12px 20px;
    border-radius: 0 50px 50px 0;
    margin-bottom: 2px;
    font-weight: 500;
    position: relative;
}

.categoryView:first-child {
    margin-top: 5px;
}

.categoryView:last-child {
    margin-bottom: 5px;
}

.categoryView>span:first-child {
    color: #727888;
    margin-right: 20px;
}

.categoryViewStarred {
    background-color: #71b6ff;
    height: 1px;
    width: calc(100% + 15px);
    margin-right: -15px;
    margin-bottom: 2px;
    z-index: 1;
}

.categoryViewActive {
    background-color: #c3e1ff;
    color: #1e90ff;
}

.categoryViewActive span:first-child {
    color: #1e90ff;
}

.categoryViewActive::before {
    content: " ";
    position: absolute;
    inset: 5px auto 5px 0;
    width: 6px;
    background-color: #1e90ff;
    border-radius: 0 12px 12px 0;
}

.listOptionHeader {
    padding: 12px 20px;
    font-weight: 700;
    color: #624ef0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listOptionBreak {
    min-height: 1px;
    background-color: #624ef0;
    margin-block: 5px;
}

.listOptionBar {
    display: block;
    font-weight: 500;
    padding: 12px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listOptionDisabled {
    color: #727888;
    background-color: #eee;
}

.listOptionNote {
    color: #727888;
    border-top: 1px solid #ddd;
    padding-block: 5px;
    font-size: 14px;
    font-weight: 500;
    padding-inline: 20px;
}

.todoLayer {
    display: flex;
    flex-direction: column;
}

.todoBody {
    display: block;
    flex: 1;
    padding: 20px;
    font-weight: 500;
}

.todoTask {
    font-size: 18px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.todoDetail {
    font-size: 15px;
    margin-top: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-decoration: none;
    display: inline-block;
    max-width: 100%;
    color: #212333;
}

.todoFooter {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eef;
    padding: 5px 10px;
    border-top: 1px solid #71b6ff;
}

.todoFooterOpts {
    display: inline-block;
    padding: 10px 20px;
    height: 40px;
    font-weight: 500;
    color: #1e90ff;
    text-decoration: none;
    font-size: 15px;
    transition: .2s;
    border-radius: 5px;
}
.todoFooterOpts:hover {
    background-color: #1e90ff33;
    cursor: pointer;
}

.todoMove {
    display: inline-flex;
    max-width: 100%;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    color: #624ef0;
    font-weight: 500;
    transition: .2s;
    padding: 5px 10px;
    border-radius: 5px;
}
.todoMove:hover {
    background-color: #624ef022;
    cursor: pointer;
}

.todoMove span {
    max-width: calc(100% - 30px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
}

.todoMove i {
    min-width: 30px;
    font-size: 20px;
    display: inline-flex;
    justify-content: flex-end;
}
.todoShift {
    padding-block: 20px;
}

.todoShiftHead {
    margin-block: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #727888;
    padding-inline: 20px;
}

.todoShiftItem {
    padding: 12px 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    user-select: none;
    transition: .2s;
    margin-bottom: 4px;
}
.todoShiftItem span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.todoShiftItem i {
    font-size: 1.5em;
    rotate: -10deg;
}

.todoShiftItemActive {
    background-color: #1e90ff33;
    color: #1e90ff;
}
.todoShiftItem:hover {
    background-color: #1e90ff22;
    cursor: pointer;
}
.todoShiftItemActive span {
    width: calc(100% - 40px);
}