.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.text {
    margin-block: 10px;
    width: 100%;
    padding-inline: 20px;
    color: #271a88;
    font-weight: 500;
}
.wrap {
    width: 100%;
    text-align: center;
}
.flex {
    margin-block: 20px;
    padding-inline: 20px;
    gap: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}