.carousel .control-dots {
    bottom: 0;
    margin-block: 0;
}
.carousel .control-dots .dot {
    box-shadow: none;
    background-color: #0008;
}
.carousel .control-dots .dot.selected {
    background-color: blue;
}