.carousel .control-dots {
    bottom: 0 !important;
    margin-block: 0 !important;
}

.carousel .control-dots .dot {
    box-shadow: none !important;
    background-color: #0008 !important;
}

.carousel .control-dots .dot.selected {
    background-color: blue !important;
}

.link {
    color: dodgerblue;
    text-decoration: none;
    font-weight: 500;
    transition: .2s;
}

.link:hover,
.link:active {
    color: #624ef0;
}

.button {
    display: flex;
    padding: 12px 15px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    width: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #503af622;
    transition: .2s;
    color: #624ef0;
    text-decoration: none;
}

.button:hover,
.button:active {
    background-color: #503af644;
}

.button.filled {
    background-color: #624ef0;
    color: #fff;
}

.button.filled:hover,
.button.filled:active {
    background-color: #503af6;
}

.button:disabled {
    opacity: .7 !important;
    cursor: not-allowed !important;
}

.splitter {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    color: #727888;
}

.splitter::before,
.splitter::after {
    content: '';
    display: inline-flex;
    flex: 1;
    min-height: 1px;
    background-color: #ccc;
    margin-top: 6px;
}