.fixbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    inset: 0;
    flex-wrap: nowrap;
    background-color: #0b1127;
    flex-direction: column;
    overflow: auto;
    background-size: cover;
    background-position: right center;
    color-scheme: dark;
    color: #fff;
}

.fixrow {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-height: 10vh;
    width: 100%;
}

.footer {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: .5vw;
    width: 100%;
    color: #727888;
    font-weight: 500;
    font-size: 13px;
    margin-top: 20px;
}

.foot {
    display: inline-block;
    text-decoration: none;
    color: #727888;
    transition: .2s ease;
}

.foot:hover {
    color: #ccc;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex: 1;
    padding-inline: 10px;
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 5vh;
}

.authbox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 440px;
    flex: 1;
    padding: 20px;
    background-color: #0005;
    border: 1px solid #1116;
    backdrop-filter: blur(16px);
    border-radius: 15px;
}

.login {
    display: block;
    width: 100%;
    ;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title>span {
    margin-inline: auto;
}

.titleArrow {
    text-decoration: none;
    color: #ddd;
    transition: .2s;
}

.titleArrow:hover {
    color: #fff;
}

.group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding-block: 10px;
    margin-block: 10px;
}

.label {
    font-size: 16px;
    font-weight: 500;
    color: #92d4ff;
    display: block;
    width: 100%;
    padding-bottom: 6px;
    padding-inline: 15px;
}

.input,
.button {
    width: 100%;
    background-color: transparent;
    border: 1px solid #92d4ff55;
    border-radius: 15px;
    outline: none;
    padding: 15px 20px;
    transition: .2s ease;
}

.input:hover,
.button:hover {
    border-color: #92d4ffaa;
}

.button:not(:disabled):focus-visible,
.input:not(:disabled):focus {
    border-color: #92d4ff;
    box-shadow: 0 0 0 1px #92d4ff;
}

.button:disabled {
    opacity: .7;
    cursor: not-allowed;
}

.button>img {
    max-width: 24px;
    max-height: 24px;
}

.action {
    background-color: #1d586e;
    border-color: #92d4ff55 !important;
    color: #fff;
}

.action:not(:disabled):hover {
    background-color: #165e79;
    cursor: pointer;
}

.action:not(:disabled):focus-visible,
.action:not(:disabled):active {
    background-color: #184759;
}

.coop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #92d4ff;
}

.coop:not(:disabled):hover {
    background-color: #165e7933;
    cursor: pointer;
}

.coop> :not(:first-child) {
    margin-inline: auto;
    font-weight: 600;
}

.coop:not(:disabled):focus-visible,
.coop:not(:disabled):active {
    background-color: #18475922;
}

.splitter {
    margin-block: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #92d4ffaa;
}

.splitter::before,
.splitter::after {
    content: " ";
    flex: 1;
    min-height: 1px;
    max-height: 1px;
    margin-top: 4px;
    background-color: #92d4ff44;
}

.options {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: #a7d3d5;
    transition: .2s ease;
}

.link:hover {
    color: #318cd1;
}

.connectSVG {
    margin-block: 40px 20px;
}

.error {
    font-weight: 500;
    color: rgb(254, 100, 100);
    font-size: 14px;
    padding-inline: 5px;
}

.error:not(:empty) {
    margin-top: 5px;
}



.spinner {
    display: block;
    font-size: inherit;
    min-height: 1.5em;
    line-height: 1.5em;
}

.svg {
    background: transparent;
    margin: auto;
    display: block;
    height: 1.5em;
    width: 1.5em;
    max-height: 1.5em;
    max-width: 1.5em;
    min-width: 1.5em;
    min-height: 1.5em;
    scale: 1.5;
}





@media screen and (max-width: 768px) {
    .proxy {
        display: none;
    }

    .authbox {
        background-color: #0008;
    }

    .footer {
        justify-content: center;
        gap: 10px;
    }
}